body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

a, a:visited, a:hover, a:link {
    color: rgb(44, 105, 155);
}
a:hover {
    color: #777;
}
button.link {
    color: rgb(44, 105, 155);
    background-color: transparent;
    border-width: 0px;
}
button.link:hover {
    color: #777;
}

button.link.following {
    padding: 5px 10px !important;
}
button.link.following.active {
    background-color: white;
    padding: 5px 10px !important;
    border: solid 1px #CCC;
    border-radius: 4px;
}

main {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.card {
    border: solid 1px #dbdbdb;
    margin-bottom: 30px;
    background-color: #fff;
    width: 50vw;
    min-width: 540px;
}

.card img {
    width: 100%;
    height: auto;
}
.card .header, .card .info {
    padding: 10px;
    color: #444;
}

.card .buttons {
    font-size: 1.3em;
    padding: 5px;
    border-width: 0; /* new */
    background-color: transparent; /* new */
}
.card .buttons i {
    margin-right: 4px;
}

.card  button.link {
    font-size: 1em;
}

.card .caption, .card .comments, .likes {
    padding: 0px 5px;
}
.card .caption p, .card .comments p {
    margin: 8px 0px 3px 0px;
    font-size: 0.9em;
}
.card .timestamp {
    color: #5b616b;
    text-transform: uppercase;
    font-size: 0.70em !important;
    margin-bottom: 5px;
}
.card .add-comment {
    border-top: solid 1px #dbdbdb;
    padding: 10px 15px;
}

.card .add-comment .input-holder {
    width: 90%;
}

.card .add-comment input, .card .add-comment input:focus, .card .add-comment input:focus-visible {
    border-width: 0px;
    outline: none;
    font-size: 0.95em;
    width: 85%;
    padding: 10px 0px;
}
.card .add-comment i {
    font-size: 1.3em;
    margin-right: 10px;
}

.card strong, .modal strong {
    margin-right: 6px;
}
.card p {
    line-height: 1.2em;
}

.card .link {
    margin: 0px;
    padding: 10px 0px;
    font-size: 0.9em !important;
}

button.like, button.to_comment, button.share, button.bookmark {
    background: transparent;
    padding: 0px;
    font-size: 1em;
    border: 0;
}
.fas.fa-heart {
    color: #cf0c0c;
}
